@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.dynamic-text-container {
    position: relative;
    height: 3rem; 
    width: auto;  
    background-color: #f0f0f000; /*set to transparent lol*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem; /*rounded corners*/
    padding: 0.5rem 1rem;
  }
  
  .dynamic-text {
    margin-top: 50px;
    font-family: 'Lato', sans-serif; 
    color: #e100ff; 
    font-size: 1.5rem; 
    font-weight: bold; 
    font-size: 51px;
    position: absolute;
    transition: opacity 0.5s;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }